nav{
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content:space-between;
  grid-area: nav;
}
/* .nav-context{

} */
.nav-context h1{
    color: var(--text-white);
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}