*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {

  /* BACKGROUNDS */
  --bg: #0e162a;
  --sidebar-bg: #121c35;
  --card-bg: #1e293b;

  /* TEXT */
  --text: #cbd5e1;
  --text-light: #94a3b8;
  --text-white:white;

  /* HIGHLIGHT / ACCENT */
  --primary: #22d3ee;
  --primary-hover: #67e8f9;

  /* STATUS COLORS */
  --success: #22c55e;
  --danger: #ef4444;

  /* BORDER */
  --border: #334155;

  /* SHADOW */
  --shadow: 0 4px 20px rgba(0,0,0,0.5);

  /* RADIUS */
  --radius: 16px;
}
body{
  color: var(--text-light);
}
.container{
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "sidebar nav nav"
                        "sidebar main main"
                        "sidebar main main";
  grid-template-rows: 100px 1fr;
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
}

.sidebar{
  grid-area: sidebar;
  background-color: var(--sidebar-bg);
}
main{
  grid-area: main;
}