@import "./variables.css";
@import "./layout/navbar.css";
@import "./layout/main.css";
@import "./common/loader.css";
@import "./pages/dashboard.css";
@import "./pages/stockPage.css";
@import "./common/dropdown.css";
@import "./common//watchlistModal.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-variant-numeric: tabular-nums;
}

h1,
h2,
h3 {
    font-weight: 700;
}

/* body{
    
} */

#app {
    /* width:100vw; */
    background: #F8FAFC;
}

.dashboard-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 20px;
    padding: 8px 0px 0px 20px
}

@media (max-width:768px) {
    .dashboard-page {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        padding: 12px;
    }
}